<div class="col-12  text-center" >
    <h1 class="tittle">
        Registro De Estudiantes
    </h1>
</div>
<div class="offset-2 col-8 panel">
    <div class="row mx-0">
        <div class="col-6" [formGroup]="registerFormLogin">
            <label for="validationDefault01" class="label-required">
                Nombres
            </label>
            <input
                type="email"
                formControlName="nombres"
                pInputText
                placeholder="Nombres"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && !IsValid('nombres') }"
            />
            <div class="invalid-feedback mb-2">
              Campo obligatorio 
            </div>
        </div>
        <div class="col-6" [formGroup]="registerFormLogin">
            <label for="validationDefault01" class="label-required">
                Número curso
            </label>
            <p-dropdown
                    formControlName="idCurso"
                    [options]="Courses"
                    optionLabel="name"
                    optionValue="code"
                    placeholder="Seleccione una opción"
                    [ngClass]="{ 'is-invalid': submitted && !IsValid('idCurso') }"
                ></p-dropdown>
                <div class="invalid-feedback mb-2">
                  Campo obligatorio 
                </div>
        </div>
    </div>
    <div class="row mx-0 mt-2" [formGroup]="registerFormLogin">
        <div class="col-6">
            <label for="validationDefault01" class="label-required">
                Apellidos
            </label>
            <input
                type="email"
                formControlName="apellidos"
                pInputText
                placeholder="Apellidos"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && !IsValid('apellidos') }"
            />
            <div class="invalid-feedback mb-2">
              Campo obligatorio 
            </div>
        </div>
        <div class="col-6" [formGroup]="registerFormLogin">
            <label for="validationDefault01" class="label-required">
                Grado
            </label>
            <p-dropdown
                    formControlName="idGrado"
                    [options]="Grades"
                    optionLabel="name"
                    optionValue="code"
                    placeholder="Seleccione una opción"
                    [ngClass]="{ 'is-invalid': submitted && !IsValid('idGrado') }"
                ></p-dropdown>
                <div class="invalid-feedback mb-2">
                  Campo obligatorio 
                </div>
        </div>
    </div>
    <div class="row mx-0 mt-2">
        <div class="col-6" [formGroup]="registerFormLogin">
            <label for="validationDefault01" class="label-required">
                Correo
            </label>
            <input
                type="email"
                formControlName="correo"
                pInputText
                placeholder="Correo"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && !IsValid('correo') }"
            />
            <div class="invalid-feedback mb-2">
              Campo obligatorio 
            </div>
        </div>
        <div class="col-6" [formGroup]="registerFormLogin">
            <label for="" class="label-required">
                Genero
            </label>
            <div class="row w-100">
                <div class="col-12 col-md-6 mt-2">
                    <input
                      type="radio"
                      value="M"
                      class="inp-checkbox"
                      name="genero"
                      formControlName="genero"
                      id="rb1"
                      [ngClass]="{ 'is-invalid': submitted && !IsValid('genero') }"
                    />
                    <label for="rb1" class="ml-4 mt-1">
                       Hombre
                    </label>
                    <div class="invalid-feedback mb-2 w-300">
                      Campo obligatorio  
                    </div> 
                  </div>
            
                  <div  class="col-12 col-md-6 mt-2">
                    <input
                      type="radio"
                      value="F"
                      class="inp-checkbox"
                      name="genero"
                      formControlName="genero"
                      id="rb2"
                      [ngClass]="{ 'is-invalid': submitted && !IsValid('genero') }"
                    />
                    <label for="rb2" class="ml-4 mt-1">
                      Mujer
                    </label>
                  </div>
            </div>
        </div>
    </div>
    <div class="row mx-0 mt-2">
        <div class="col-6" [formGroup]="registerFormLogin">
            <label for="validationDefault01" class="label-required">
                Materia
            </label>
            <input
                type="email"
                
                pInputText
                placeholder="Materia"
                class="form-control"
            />
            <div class="invalid-feedback mb-2">
              Campo obligatorio 
            </div>
        </div>
        <div class="col-6">
        </div>
        <div class="col-12 text-right">
            <button
                        pButton
                        type="button"
                        label=""
                        (click)="createStudent()"
                        class="button button-primary btn-sig"
                      >
                        Aceptar
                      </button>
                      <button
                        pButton
                        type="button"
                        label=""
                        routerLink="/login"
                        class="ml-2 button button-secundary btn-sig"
                      >
                        Regresar
                      </button>
        </div>
    </div>
</div>

<p-dialog
  [(visible)]="userCreated"
  [contentStyleClass]="'border-top'"
  [modal]="true"
  [baseZIndex]="10000"
  [draggable]="false"
  [showHeader]="false"
  [resizable]="false"
  [style]="{ width: '450px' }"
>
  <div class="row">
    <div class="col-md-12 text-center font50">
      <img
        _ngcontent-amv-c221=""
        width="60px"
        height="60px"
        src="../../../assets/images/success.svg"
        alt="shopping cart"
        class="simple-img"
        appImage
      />
    </div>
    <div class="col-md-12 text-center mt-24">
      <p>El estudiante se ha guardado de forma exitosa!!</p>
    </div>
    <div class="col-md-12 text-center mt-16 description-page">
      <p>
        Para continuar de click en Aceptar
      </p>
    </div>
  </div>

  <ng-template pTemplate="footer">
    <div class="col-md-12 text-center">
      <p-button
        (click)="closeConfirmation()"
        label="Aceptar"
        styleClass="button button-primary text-center"
      ></p-button>
    </div>
  </ng-template>
</p-dialog>