<div class="col-12  text-center" >
    <h1 class="tittle">
        Registro De Estudiantes
    </h1>
</div>
<div class="offset-2 col-8 panel">
    <div class="row mx-0">
        <div class="col-6">
            <label for="validationDefault01">
                Nombres
            </label>
            <input
                type="email"
                
                pInputText
                placeholder="Nombres"
                class="form-control"
            />
        </div>
        <div class="col-6">
            <label for="validationDefault01">
                Número curso
            </label>
            <input
                type="email"
                
                pInputText
                placeholder="Número curso"
                class="form-control"
            />
        </div>
    </div>
    <div class="row mx-0 mt-2">
        <div class="col-6">
            <label for="validationDefault01">
                Apellidos
            </label>
            <input
                type="email"
                
                pInputText
                placeholder="Apellidos"
                class="form-control"
            />
        </div>
        <div class="col-6">
            <label for="validationDefault01">
                Grado
            </label>
            <input
                type="email"
                
                pInputText
                placeholder="Grado"
                class="form-control"
            />
        </div>
    </div>
    <div class="row mx-0 mt-2">
        <div class="col-6">
            <label for="validationDefault01">
                Correo
            </label>
            <input
                type="email"
                
                pInputText
                placeholder="Correo"
                class="form-control"
            />
        </div>
        <div class="col-6">
            <label for="">
                Genero
            </label>
            <div class="row">
                <div class="col-12 col-md-5 mt-2">
                    <input
                      type="radio"
                      value="1"
                      class="inp-checkbox"
                      name="public"
                      
                      id="rb1"
                    />
                    <label for="rb1" class="ml-4 mt-1">
                       Hombre
                    </label>
                  </div>
            
                  <div  class="col-12 col-md-5 mt-2">
                    <input
                      type="radio"
                      value="2"
                      class="inp-checkbox"
                      name="public"
                      
                      id="rb2"
                    />
                    <label for="rb2" class="ml-4 mt-1">
                      Mujer
                    </label>
                  </div>
            </div>
        </div>
    </div>
    <div class="row mx-0 mt-2">
        <div class="col-6">
            <label for="validationDefault01">
                Materia
            </label>
            <input
                type="email"
                
                pInputText
                placeholder="Materia"
                class="form-control"
            />
        </div>
        <div class="col-6">
        </div>
        <div class="col-12 text-right">
            <button
                        pButton
                        type="submit"
                        label=""
                        class="button button-primary btn-sig"
                      >
                        Aceptar
                      </button>
                      <button
                        pButton
                        type="button"
                        label=""
                        routerLink="/login"
                        class="ml-2 button button-secundary btn-sig"
                      >
                        Regresar
                      </button>
        </div>
    </div>
</div>