.companyLogo {
    width: 200px;
    height: 200px;
}

.welcome {
    font-size: 24px;
    margin-bottom: 16px;
    color: var(--color-black);
}

.p-tooltip.p-component.p-tooltip-left {
    margin-left: 227px !important;
    position: absolute !important;
    margin-top: 8px !important;
}

.eye-login {
    margin-top: -27px;
    margin-left: -32px;
    position: absolute;
    cursor: pointer;
}