<div class="main-wrapper" >
  <div class="page-wrapper full-page login">
    <div class="page-content d-flex align-items-center justify-content-center">
      <div class="row w-100 mx-0 auth-page">
        <div class="offset-7 col-5">
          <div class="panel-login">
            <div class="row m-0">
              <div class="col-12 pl-0 pr-0">
                <div class="auth-form-wrapper px-4 py-4"  >
                  <a href="#" class="noble-ui-logo d-block mb-2 text-center">
                    <img
                      class="companyLogo simple-img"
                      data-tenant-branding-logo="true"
                      src="../../../assets/images/Logo.png"
                      alt="Company Logo"
                    />
                  </a>
                  <label for="exampleInputEmail1" class="mt-2 welcome">
                    Iniciar Sesión
                  </label>
                  <form
                    class="forms-sample"
                  >
                  <div class="col-12 p-0" [formGroup]="registerFormLogin">
                    <label for="validationDefault01" class="label-required">
                      Usuario
                    </label>
                    <input
                      type="email"
                      pInputText
                      formControlName="username"
                      placeholder="Usuario"
                      class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && !IsValid('username') }"
                    />
                    <div class="invalid-feedback mb-2">
                      Campo obligatorio 
                    </div>
                  </div>
            
                  <div class="col-12 mt-2  p-0" [formGroup]="registerFormLogin">
                    <label class="label-required">
                      Contraseña
                    </label>
                    <input
                      formControlName="password"
                      type="password"
                      pInputText
                      placeholder="Contraseña"
                      class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && !IsValid('password') }"
                    />
                    <div class="invalid-feedback mb-2">
                      Campo obligatorio 
                    </div>
                  </div>
                    <div class="w-100 text-right mt-2">
                        <label class="form-check-label pisa-campos-loguin"  for="exampleCheck1"><a href="">¿Has olvidado la contraseña? </a> </label>
                    </div>
                    <div class="mt-3 text-right">
                      <button
                        pButton
                        type="button"
                        label=""
                        (click)="login()"
                        class="button button-primary btn-sig"
                      >
                        Iniciar
                      </button>
                      <button
                        pButton
                        type="button"
                        label=""
                        routerLink="/register"
                        class="ml-2 button button-secundary btn-sig"
                      >
                        Registrarme
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<p-dialog
  [(visible)]="showInvalidPassword"
  [contentStyleClass]="'border-top'"
  [modal]="true"
  [baseZIndex]="10000"
  [draggable]="false"
  [showHeader]="false"
  [resizable]="false"
  [style]="{ width: '500px' }"
>
  <div class="row">
    <div class="col-md-12 text-center font50">
      <img
        _ngcontent-amv-c221=""
        width="60px"
        height="60px"
        src="../../../assets/images/icono cancelar.svg"
        alt="shopping cart"
        class="simple-img"
        appImage
      />
    </div>
    <div class="col-md-12 text-center mt-24">
      <p>
        Error
      </p>
    </div>
    <div class="col-md-12 text-center mt-16 description-page">
      <p>
        Usuario o contraseña incorrecto(s), por favor validar
      </p>
    </div>
  </div>

  <ng-template pTemplate="footer">
    <div class="col-md-12 text-center">
      <p-button
        (click)="showInvalidPassword = false"
        label="Aceptar"
        styleClass="button button-primary text-center"
      ></p-button>
    </div>
  </ng-template>
</p-dialog>

