<div class="col-12  text-center" >
    <h1 class="tittle">
        Matricula Estudiante
    </h1>
</div>
<div class="offset-2 col-8 panel">
    <div class="row mx-0">
        <div class="col-12 col-lg-6 mt-2" [formGroup]="registerFormLogin">
            <label for="validationDefault01" class="label-required">
                Estudiante
            </label>
            <p-dropdown
                    formControlName="idEstudiante"
                    [options]="Students"
                    [filter]="true"
                    optionLabel="displayLabel"
                    optionValue="idEstudiante"
                    placeholder="Seleccione una opción"
                    [ngClass]="{ 'is-invalid': submitted && !IsValid('idEstudiante') }"
                >
              </p-dropdown>
                <div class="invalid-feedback mb-2">
                  Campo obligatorio 
                </div>
        </div>
        <div class="col-12 col-lg-6 mt-2" [formGroup]="registerFormLogin">
            <label for="validationDefault01" class="label-required">
                Número curso
            </label>
            <p-dropdown
                    formControlName="idCurso"
                    [options]="Courses"
                    optionLabel="nombre"
                    optionValue="idCurso"
                    placeholder="Seleccione una opción"
                    [ngClass]="{ 'is-invalid': submitted && !IsValid('idCurso') }"
                ></p-dropdown>
                <div class="invalid-feedback mb-2">
                  Campo obligatorio 
                </div>
        </div>
        <div class="col-12 col-lg-6 mt-2" [formGroup]="registerFormLogin">
            <label for="validationDefault01" class="label-required">
                Grado
            </label>
            <p-dropdown
                    formControlName="idGrado"
                    [options]="Grades"
                    optionLabel="nombre"
                    optionValue="idGrado"
                    placeholder="Seleccione una opción"
                    [ngClass]="{ 'is-invalid': submitted && !IsValid('idGrado') }"
                ></p-dropdown>
                <div class="invalid-feedback mb-2">
                  Campo obligatorio 
                </div>
        </div>
        <div class="col-12 col-lg-6 mt-2" [formGroup]="registerFormLogin">
            <label for="validationDefault01" class="label-required">
                Materia
            </label>
            <p-multiSelect
              formControlName="arrayIdMaterias"
              [options]="Subjects"
              optionLabel="nombre"
              optionValue="idMateria"
              placeholder="Seleccione una opción"
              [ngClass]="{ 'is-invalid': submitted && !IsValid('arrayIdMaterias') }"
            ></p-multiSelect>
            <div class="invalid-feedback mb-2">
              Campo obligatorio 
            </div>
        </div>
        <div class="col-12 col-lg-6 mt-2">
        </div>
        <div class="col-12 offset-md-6 col-lg-6 text-right">
          <div class="row">
            <div class="col-12 col-lg-6 mt-2">
            <button
                        pButton
                        type="button"
                        label=""
                        (click)="createStudent()"
                        class="button button-primary btn-sig w-100"
                      >
                        Aceptar
                      </button>
                    </div>
                    <div class="col-12 col-lg-6 mt-2 px-12">
                      <button
                        pButton
                        type="button"
                        label=""
                        routerLink="/home"
                        class="button button-secundary btn-sig w-100"
                      >
                        Regresar
                      </button>
                    </div>
    </div>
</div>

<p-dialog
  [(visible)]="userCreated"
  [contentStyleClass]="'border-top'"
  [modal]="true"
  [baseZIndex]="10000"
  [draggable]="false"
  [showHeader]="false"
  [resizable]="false"
  [style]="{ width: '450px' }"
>
  <div class="row">
    <div class="col-md-12 text-center font50">
      <img
        _ngcontent-amv-c221=""
        width="60px"
        height="60px"
        src="../../../assets/images/success.svg"
        alt="shopping cart"
        class="simple-img"
        appImage
      />
    </div>
    <div class="col-md-12 text-center mt-24">
      <p>El estudiante se ha guardado de forma exitosa!!</p>
    </div>
    <div class="col-md-12 text-center mt-16 description-page">
      <p>
        Para continuar de click en Aceptar
      </p>
    </div>
  </div>

  <ng-template pTemplate="footer">
    <div class="col-md-12 text-center">
      <p-button
        (click)="closeConfirmation()"
        label="Aceptar"
        styleClass="button button-primary text-center"
      ></p-button>
    </div>
  </ng-template>
</p-dialog>