<div class="col-12 mt-3 text-center" >
    <h1 class="tittle">
        Registro De Usuario
    </h1>
</div>
<div class="offset-2 col-8 panel">
    <div class="row mx-0" >
        <div class="col-12 col-lg-6 mt-2" [formGroup]="registerFormLogin">
            <label for="validationDefault01"  class="label-required">
                Tipo de usuario
            </label>
            <p-dropdown
              formControlName="idRol"
              [options]="Roles"
              optionLabel="nombre"
              optionValue="idRol"
              placeholder="Seleccione una opción"
              [ngClass]="{ 'is-invalid': submitted && !IsValid('idRol') }"
            ></p-dropdown>
            <div class="invalid-feedback mb-2">
              Campo obligatorio 
            </div>
        </div>
        <div class="col-12 col-lg-6 mt-2" [formGroup]="registerFormLogin">
            <label for="validationDefault01" class="label-required">
                Materias Relacionadas
            </label>
            <p-multiSelect
              formControlName="arrayIdMaterias"
              [options]="Subjects"
              optionLabel="nombre"
              optionValue="idMateria"
              placeholder="Seleccione una opción"
              [ngClass]="{ 'is-invalid': submitted && !IsValid('arrayIdMaterias') }"
            ></p-multiSelect>
            <div class="invalid-feedback mb-2">
              Campo obligatorio 
            </div>
        </div>
        <div class="col-12 col-lg-6 mt-2" [formGroup]="registerFormLogin">
            <label for="validationDefault01"  class="label-required">
                Nombres
            </label>
            <input
                type="text"
                formControlName="nombres"
                pInputText
                placeholder="Nombres"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && !IsValid('nombres') }"
            />
            <div class="invalid-feedback mb-2">
              Campo obligatorio 
            </div>
        </div>
        <div class="col-12 col-lg-6 mt-2" [formGroup]="registerFormLogin">
            <label for="validationDefault01" class="label-required">
                Apellidos
            </label>
            <input
                type="text"
                formControlName="apellidos"
                pInputText
                placeholder="Apellidos"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && !IsValid('apellidos') }"
            />
            <div class="invalid-feedback mb-2">
              Campo obligatorio 
            </div>
        </div>
        <div class="col-12 col-lg-6 mt-2" [formGroup]="registerFormLogin">
            <label for="validationDefault01" class="label-required">
                Usuario
            </label>
            <input
                type="text"
                formControlName="usuario"
                pInputText
                placeholder="Usuario"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && !IsValid('usuario') }"
            />
            <div class="invalid-feedback mb-2">
              Campo obligatorio 
            </div>
        </div>
        <div class="col-12 col-lg-6  text-right mt-2" [formGroup]="registerFormLogin">
          <div class="w-100">
            <label for="validationDefault01" class="label-required w-100 text-left">
              Contraseña
          </label>
          </div>
            <input
                type="password"
                formControlName="password"
                pInputText
                placeholder="Contraseña"
                #password
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && !IsValid('password') }"
            />
            <em (click)="password.type=password.type=='password'?'text':'password'" class="fa eye-login"
                    [ngClass]="(password.type=='password')?' fa-eye':' fa-eye-slash'"></em>
            <div class="invalid-feedback mb-2">
              Campo obligatorio 
            </div>
        </div>
        <div class="col-12 col-lg-6 mt-2" [formGroup]="registerFormLogin">
            <label for="validationDefault01" class="label-required">
                Correo
            </label>
            <input
                type="email"
                formControlName="correo"
                pInputText
                placeholder="Correo"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && !IsValid('correo') }"
            />
            <div class="invalid-feedback mb-2">
              Campo obligatorio 
            </div>
        </div>
        <div class="col-12 col-lg-6 mt-2" [formGroup]="registerFormLogin">
            <label for="" class="label-required">
                Genero
            </label>
            <div class="row">
                <div class="col-12 col-lg-6 mt-2">
                    <input
                      type="radio"
                      value="M"
                      class="inp-checkbox"
                      name="genero"
                      formControlName="genero"
                      [ngClass]="{ 'is-invalid': submitted && !IsValid('genero') }"
                      id="rb1"
                    />
                    <label for="rb1" class="ml-4 mt-1">
                       Hombre
                    </label>
                    <div class="invalid-feedback mb-2 w-300">
                      Campo obligatorio  
                    </div> 
                  </div>
            
                  <div  class="col-12 col-lg-6 mt-2">
                    <input
                      type="radio"
                      value="F"
                      class="inp-checkbox"
                      name="genero"
                      formControlName="genero"
                      [ngClass]="{ 'is-invalid': submitted && !IsValid('genero') }"
                      id="rb2"
                    />
                    <label for="rb2" class="ml-4 mt-1">
                      Mujer
                    </label>
                  </div>       
            </div>
        </div>
        <div class="col-12 col-lg-6 mt-2" [formGroup]="registerFormLogin">
          <div class="row">
              <div class="col-12 pl-0 pr-0">
                <label class="label">
                  Foto de perfil
                </label>
                <em
                  class="fas fa-info-circle ml-1"
                  pTooltip="Debe cargar una foto en los siguientes formatos: (JPG, PNG)"
                ></em>
              </div>
              <div class="col-12 pl-0 pr-0" [formGroup]="registerFormLogin">
                <input
                  type="text"
                  id="fotoName"
                  pInputText
                  class="form-control input-select-image"
                  placeholder="Arrastre la imagen aqui"
                  readonly
                  [ngClass]="{ 'is-invalid': submitted && !IsValid('foto') }"
                />
                <div class="invalid-feedback mb-2">
                  Campo obligatorio 
                </div>
              </div>
              <div class="col-12 pl-0 pr-0 mt-1 text-right">
                <button
                  pButton
                  (click)="resetFiles()"
                  type="button"
                  label="Limpiar"
                  class="button-select-image-reset mr-1"
                ></button>
                <input
                  type="file"
                  name="file1"
                  id="file1"
                  (change)="fileChanged($event)"
                />
                <button
                  pButton
                  type="button"
                  id="btnupload"
                  label="Cargar"
                  class="button-select-image-update"
                ></button>
              </div>
            </div>
      </div>
        <div class="col-12 offset-lg-6 col-lg-6 text-right">
          <div class="row">
            <div class="col-12 col-lg-6 mt-2">
              <button

                pButton
                type="button"
                label=""
                (click)="register()"
                class="button button-primary btn-sig w-100"
              >
                Aceptar
              </button>
            </div>
            <div class="col-12 col-lg-6 mt-2 px-12">
              <button
              pButton
              type="button"
              label=""
              routerLink="/login"
              class="button button-secundary btn-sig w-100"
            >
              Regresar
            </button>
            </div>
          </div>               
        </div>
    </div>
</div>

<p-dialog
  [(visible)]="userCreated"
  [contentStyleClass]="'border-top'"
  [modal]="true"
  [baseZIndex]="10000"
  [draggable]="false"
  [showHeader]="false"
  [resizable]="false"
  [style]="{ width: '450px' }"
>
  <div class="row">
    <div class="col-md-12 text-center font50">
      <img
        _ngcontent-amv-c221=""
        width="60px"
        height="60px"
        src="../../../assets/images/success.svg"
        alt="shopping cart"
        class="simple-img"
        appImage
      />
    </div>
    <div class="col-md-12 text-center mt-24">
      <p>El usuario se ha guardado de forma exitosa!!</p>
    </div>
    <div class="col-md-12 text-center mt-16 description-page">
      <p>
        Para continuar de click en Aceptar
      </p>
    </div>
  </div>

  <ng-template pTemplate="footer">
    <div class="col-md-12 text-center">
      <p-button
        (click)="closeConfirmation()"
        label="Aceptar"
        styleClass="button button-primary text-center"
      ></p-button>
    </div>
  </ng-template>
</p-dialog>